[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

# Refer to https://www.python.org/dev/peps/pep-0440/#version-specifiers for python
# package version specifiers.
[dev-packages]
twine = "*"
wheel = "*"

[packages]
awscli = "*"
boto3 = ">1.14"
click = ">7.1"
jmespath = "*"

[requires]
python_version = "3.7"
