[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

# Refer to https://www.python.org/dev/peps/pep-0440/#version-specifiers for python
# package version specifiers.
[dev-packages]
build = "*"
black = "*"
pipenv-setup = "*"
twine = "*"
wheel = "*"

[packages]
# Always install the latest pip. In most cases it helps resovle issues
# installing other packages.
pip = "*"

awscli = "*"
boto3 = "*"
click = "*"
jmespath = "*"
requests = "*"

[requires]
python_version = "3.11"
